// Color swatche
$primary-blue: #0270ee;
$secondary-blue: #0932D6;
$orange: #ff8c5f;
$cyan: #61dafb;
$black: #000;
$white: #fff;
$dark-grey: #282c34;

// font-weight
$light: 300;
$semi: 500;
$bold: 700;